<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">
        Update Order Flow
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true">
            &times;
        </span>
    </button>
</div>
<div class="modal-body" style="min-height: 200px;">

    <div class="alert alert-danger" ng-if="errors.length > 0">
        <ul>
            <li ng-repeat="(key, value) in errors"><% value %></li>
        </ul>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="form">
                <div class="form-group">
                    <label>Flow <span class="font-red">*</span></label>
                    <input type="text" required class="form-control" autofocus ng-model="order.flow">
                </div>

                <div class="form-group">
                    <label>Item to Process<span class="font-red">*</span></label>
                    <input type="text" required class="form-control" autofocus ng-model="order.item_to_process">
                </div>                

                <div class="form-group">
                    <label>Process Type <span class="font-red">*</span></label>
                    <select id="single" ng-model="order.process_type" select-picker obj="process_types" class="form-control select2">
                        <option ng-repeat="process_type in process_types" ng-value="process_type.code"><% process_type.name %></option>
                    </select>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" ng-click="cancel()" ng-if="isLoaded">
        Close
    </button>
    <button type="button" class="btn btn-primary" ng-if="isLoaded" ng-click="submit()">
        Save
    </button>
</div>